/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
html {
  font: 1rem monospace;
}

body {
  background: green;
}

header,
main,
footer {
  width: 80%;
  background: white;
  border: 0.5rem solid black;
  padding: 1rem;
  margin: 1rem auto;
}

header h1,
header .disapproval{
  font-size: 2rem;
}

header, footer {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

header a {
  color: black;
}

header a:hover {
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

ul {
  margin: 1rem;
}
