---
layout: default
---

<article>
  <h2>{{ page.title | escape }}</h2>

  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {{ page.date | date: date_format }}
  </time>

  {{ content }}
</article>

<nav>
  {% if page.previous %}
  <a href="{{page.previous.url}}" title="older: {{page.previous.title}}">{{page.previous.title}} &rarr;</a>
  {% else %}
  <div></div> <!-- empty div to balance the flex -->
  {% endif %}

  {% if page.next %}
  <a href="{{page.next.url}}" title="newer: {{page.next.title}}">&larr; {{page.next.title}}</a>
  {% else %}
  <div></div> <!-- empty div to balance the flex -->
  {% endif %}
</nav>
